#banner-top .banner-container {
    background: url(https://executiveponies.com/media/wysiwyg/home/tees.jpg);
    background-color: #eec9d2;
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 30px;
    padding-bottom: 10px;
}

#banner-top h2.banner-title {
    background: #ffffff;
    padding: 10px 20px;
    margin: 0 0 0 70px;
    width: auto;
    display: inline-block;
    font-size: 1.5rem;
}

@media only screen and (max-width: 40em) {
    #banner-top h2.banner-title {
        font-size: 1.6rem;
    }
}