.banner-container {
    background: url(https://executiveponies.com/media/wysiwyg/home/tees.jpg);
    background-color: #eec9d2;
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 20px;
    padding-bottom: 20px;
}

.banner-title {
    background: #ffffff;
    padding: 10px 20px;
    margin: 0 0 0 90px;
    width: auto;
    display: inline-block;
}

@media only screen and (max-width: 40em) {
    h2.banner-title {
        font-size: 1.6rem;
    }
}